openapi: 3.1.0
info:
  title: HPE GreenLake Authorization Workspaces API
  description: 'Unified REST API gateway for HPE GreenLake edge-to-cloud services

    documented at developer.greenlake.hpe.com. Covers identity (user

    management), API client credentials, workspaces, and authorization

    (scope groups and role assignments). Conforms to OpenAPI 3.0 and

    authenticates with OAuth 2.0 client credentials that issue

    short-lived JWT bearer tokens.

    '
  version: '1.0'
  contact:
    name: HPE GreenLake Developer
    url: https://developer.greenlake.hpe.com/docs/greenlake/guides
servers:
- url: https://global.api.greenlake.hpe.com
  description: HPE GreenLake unified API gateway
security:
- BearerAuth: []
tags:
- name: Workspaces
paths:
  /workspaces/v1/credentials:
    get:
      summary: List API client credentials
      operationId: listCredentials
      responses:
        '200':
          description: OK
      tags:
      - Workspaces
    post:
      summary: Create an API client credential
      operationId: createCredential
      responses:
        '201':
          description: Created
      tags:
      - Workspaces
  /workspaces/v1/credentials/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      summary: Delete an API client credential
      operationId: deleteCredential
      responses:
        '204':
          description: Deleted
      tags:
      - Workspaces
  /workspaces/v1/credentials/{id}/reset:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Reset (regenerate) a credential's clientSecret
      operationId: resetCredential
      responses:
        '200':
          description: OK
      tags:
      - Workspaces
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 client-credentials access token. Use the token as

        `Authorization: Bearer <token>` on every request.

        '
